#nav-main
  /* Rectangle 1: */
  background: #FFFFFF
  -moz-box-shadow:    0px 2px 2px 0px rgba(0,0,0,0.10)
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.10)
  box-shadow:         0px 2px 2px 0px rgba(0,0,0,0.10)
  border: 0

  a
    color: #777
    &:hover
      background: none
      color: #333

  #search-form
    padding-left: 0

    input
      width: 583px
      margin-left: 0
      border: 0
      font-size: 20px
      font-style: italic
      color: #aaa
      font-family: Georgia
      -moz-box-shadow: none
      -webkit-box-shadow: none
      box-shadow: none

      &::-webkit-input-placeholder
        color: #ccc
      &::-moz-placeholder
        color: #ccc

#nav-main .navbar-brand
  font-family: LeckerliOne
  font-weight: normal !important
  font-size: 28px
  line-height: 14px
  font-weight: 100
  margin-right: 8px
  background: #86AD59
  color: #fff
  display: inline-block
  margin-left: 0
  text-shadow: 0 2px 1px #5F8A42
  height: 50px

#nav-main .btn-group
  margin-top: 8px

#nav-main .logo
  font-size: 20px
  display: inline
  margin-right: 5px

.nav-pills
  a
    border-radius: 3px !important
  li.active
    a
      background: #86AD59