.comment
  padding: 0 5px
  
  .avatar
    margin-right: 15px

  // Overwrite score widget
  .widget-score
    margin-top: -4px

    .score
      font-size: 0.8em
      line-height: 9px

  .content
    font-weight: 300

#new-comment
  margin-left: 27px
  .avatar
    margin-right: 15px
  .form-group
    margin-bottom: 5px
  textarea
    font-weight: 300