// Node comments segment
#comments
  margin: 15px 0 0 31px

// New comment form widget
#new-comment
  margin-left: 46px

  .avatar
    margin-right: 15px

  .form-group
    margin-bottom: 5px

  textarea
    font-weight: 300

// Single comment
.comment
  padding: 0 5px
  
  .avatar
    margin-right: 15px

  // Overwrite score widget
  .widget-score
    margin-top: -9px

    .score
      font-size: 0.8em
      line-height: 9px

  .content
    font-weight: 300