// Main container
#main
  margin-top:  50px

a.list-group-item.active
  background: #86AD59
  border-color: #86AD59

a.list-group-item.active i
  color: #5F8A42

a
  color: #333

a:hover
  color: #86AD59
  text-decoration: none

// Tags
.tags
  font-size: 0.9em
  font-weight: 100

  li
    padding-left: 0
    padding-right: 10px

    a
      color: #888

// Page title
h1.page-title
  text-transform: uppercase
  font-size: 18px
  margin-bottom: 9px
  margin-top: 0
  font-weight: 500

  small
    text-transform: none
    font-weight: 100
    margin-left: 10px
    font-size: 14px
    font-weight: 100

    a
      color: #999

// Sidebar stuff
#sidebar
  .sidebar-widget-title
    border-bottom: 1px solid #ddd
    padding-bottom: 12px
    margin-bottom: 15px
    text-transform: uppercase
    color: #999
    font-weight: 400
    font-size: 13px
    margin-top: 2px

  dt
    width: 50px

  dd
    margin-left: 68px

  .sidebar-widget-tags
    li
      margin-bottom: 5px

      .btn
        margin-right: 5px

      .text-muted
        font-weight: 300
        color: #ccc

  .sidebar-widget-user-menu
    .list-group-item
      sub
        margin-left: 5px
        color: #999
        font-size: 10px

        &:before
          content: "("
        &:after
          content: ")"
    .list-group-item.active
      sub
        color: #466B1C