.nodes-list
  hr
    border-color: #ddd

  .list-heading
    margin-bottom: 0

  &.single-node
    .node-list-single
      border-bottom: 3px dashed #DDD

.node-list-single
  position: relative
  border-bottom: 1px dotted #DDD
  padding-bottom: 12px

  h3
    font-size: 22px
    font-weight: 300
    margin-bottom: 5px
    margin-top: 5px

  .body
    p
      font-weight: 300

  .content
    min-height: 210px

  .actions
    position: absolute
    top: 5px
    right: 0
    font-size: 1.3em

    a
      background: none
      margin-right: 5px
      color: #999

  li.save a, li.share a
    display: none

  li.save a
    padding-left: 8px

    &.saved
      border-color: #F0E56A
      display: inline
      color: #F7E857
      text-shadow: 0 1px 0 #E4D545

  &:hover
    li.save a, li.share a
      display: inline

  // Node tags for single node view
  .tag-list
    span
      margin-left: 5px
      font-weight: 300
      color: #ccc

  // Node stats
  .stats
    border-top: 1px solid #ddd
    padding-top: 10px
    margin-top: 15px
    margin-bottom: 0

    li
      margin-right: 10px

    .title
      color: #999
      text-transform: uppercase
      font-weight: 300
      font-size: 0.8em
      display: block
    .content
      font-size: 0.9em

#saved-nodes-modal
  .modal-body
    h4
      margin: 3px 0 2px

      a
        &:visited
          color: #666
