.nodes-list {
  hr {
    margin: 20px -20px;
  }
  .panel-body {
    padding: 20px;
  }
	.node {
    padding: 20px 20px 16px;
    margin-top: 0;
    border-bottom: 1px solid #eee;

    &:hover, &.node-active {
      background: #f9f9f9;
      box-shadow: 0 1px 0px #eee;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    
    .thumb {
      margin-right: 20px;
    }

    .media-heading {
      color: #333;
      font-weight: 400;
      margin-bottom: 12px;

      .categories {
        margin-left: 9px;
        display: inline-block;

        a {
          margin-right: 9px;
        }
      }
    }

    .media-body {
      .meta-1 {
        font-weight: 300;
        margin-top: -3px;
        margin-bottom: 5px;

        .tags {
          display: inline-block;

          a {
            margin-right: 9px;
          }
        }
      }
    }

    .meta-2 {
      font-size: 0.9em;
      line-height: 1.2;
      color: #666;
      opacity: 0.5;

      .stats {
        border: 1px solid #eee;
        border-width: 1px 0 0;
        margin-top: 5px;

        .element {
          padding: 6px 10px;
          border-right: 1px solid #eee;
          float: left
        }
        strong {
          display: block;
        }
        span {
          display: block;
          color: #999;
          text-transform: uppercase;
          font-weight: 100;
          font-size: 0.7em;
        }

        .points {
          padding-left: 0;
        }

        .commenters {
          border-right: 0;
          padding-left: 7px;

          ul {
            margin-bottom: 0;

            li {
              padding-left: 0;
            }
          }
        }

        .author {
          text-align: right;
          color: #666;
          line-height: 1.2;
          font-size: 0.9em;
          border-right: 0;
          margin-top: 2px;
          padding-right: 0;

          .media {
            margin-top: 0;
          }

          time {
            font-weight: 100;
            font-size: 0.9em;
            color: #999          
          }
        }
      }
    }

    .body {
      font-weight: 300;
      margin-top: 15px;
    }
  }
}

// Single node view
.nodes-show {
  .panel.node-body {
    padding: 35px;

    .thumb {
      margin-left: 35px;
    }

    h1 {
      font-weight: 600;
      margin-top: 0;
    }
  }

  // Text node
  .node-text {
    .media-heading {
      font-weight: 100;
    }
    .body {
      font-size: 1.2em;

      p {
        margin-bottom: 20px;
      }
    }

    .meta-1 {
      margin-top: 0 !important;
      margin-bottom: 2px !important;

      .label-tag {
        font-size: 1em;
        line-height: 1em;
      }
    }
  }
}

.widget-filter {
  a {
    padding-right: 15px;
    color: #555;
  }
  .title {
    float: right;
    text-align: right
  }
  i {
    color: #ccc;
  }
}

.widget-latest-comments {
  li {
    font-size: 0.9em;
    line-height: 1.2;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;

    img {
      margin: 0 5px 0 0;
    }

    p {
      margin-bottom: 3px;
    }

    small.comment-on {
      color: #999;
      a {
        color: #999;

        &:hover {
          color: #666;
        }
      }
    }

    &:first-child {
      border-top: 0;
    }
  }
}

.widget-meta-discussions {
  .panel-heading {
    margin-bottom: 0;
  }
  ul {
    margin-top: 0 !important;

    ul {
      li {
        padding: 0 8px 0 0;
      }
    }

    h5 {
      margin-top: 0;
      font-size: 1.2em;
      font-weight: 300;
      margin-bottom: 5px;

      a {
        color: #333;
      }
    }
  }
  .users {
    opacity: 0.8;
  }
  li:first-child {
    border-top: 0;
  }
}