.node-list
  hr
    border-color: #ddd

  .node-list-filters
    h1
      font-weight: 100

      small
        margin-left: 10px
        font-size: 14px
        font-weight: inherit

        a
          color: #999

    .f-2
      margin-top: 32px

      a
        padding: 5px 8px
        text-transform: uppercase
        font-size: 11px

    hr
      margin-top: 0

.node-single-card
  h2
    font-size: 22px
    font-weight: 700
    margin-bottom: 5px

  .body
    p
      font-weight: 300

  .content
    min-height: 210px

  .actions
    a
      background: none
      margin-right: 5px
      color: #666

  .btn-node-save, .btn-node-share
    display: none

  .btn-node-save
    &.saved
      background: #F0E56A
      border-color: #F0E56A
      display: inline

  &:hover
    .btn-node-save, .btn-node-share
      display: inline

#saved-nodes-modal
  .modal-body
    h4
      margin: 3px 0 2px

      a
        &:visited
          color: #666
