.nodes-list {
  //padding: 20px;

  hr {
    margin: 20px -20px;
  }
	.node {
    padding: 0 20px;
    
    .thumb {
      margin-right: 20px;
    }

    .media-heading {
      color: #333;
      font-weight: 400;

      .categories {
        margin-left: 9px;
        display: inline-block;

        a {
          margin-right: 9px;
        }
      }
    }

    .media-body {
      .meta-1 {
        font-weight: 300;
        margin-top: -3px;

        .tags {
          display: inline-block;

          a {
            margin-left: 9px;
          }
        }
      }
    }

    .meta-2 {
      font-size: 0.9em;
      line-height: 1.2;
      color: #666;
      opacity: 0.5;

      .commenters {
        margin-top: 5px;
        font-size: 0.9em;
        display: inline-block;
        margin-bottom: 0;

        li {
          padding: 0 5px 0 0;
        }

        .plus {
          padding-left: 5px;
        }
      }
    }

    .author {
      text-align: right;
      opacity: 0.3;
      color: #666;
      line-height: 1.2;
      font-size: 0.9em;

      .media {
        margin-top: 13px;
      }
    }

    &:hover {
      .meta-2 {
        opacity: 0.5;
      }
      .author {
        opacity: 0.5;
      }
    }
  }
}

.nodes-show {
  .panel.node-body {
    padding: 35px;

    .thumb {
      margin-left: 35px;
    }

    h1 {
      font-weight: 600;
      margin-top: 0;
    }
  }
}

.widget-filter {
  a {
    padding-right: 15px;
    color: #555;
  }
  .title {
    float: right;
    text-align: right
  }
  i {
    color: #ccc;
  }
}

.widget-latest-comments {
  li {
    font-size: 0.9em;
    line-height: 1.2;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;

    img {
      margin: 0 5px 0 0;
    }

    p {
      margin-bottom: 3px;
    }

    small.comment-on {
      color: #999;
      a {
        color: #999;

        &:hover {
          color: #666;
        }
      }
    }

    &:first-child {
      border-top: 0;
    }
  }
}

.widget-meta-discussions {
  .panel-heading {
    margin-bottom: 0;
  }
  ul {
    margin-top: 0 !important;

    ul {
      li {
        padding: 0 8px 0 0;
      }
    }

    h5 {
      margin-top: 0;
      font-size: 1.2em;
      font-weight: 300;
      margin-bottom: 5px;

      a {
        color: #333;
      }
    }
  }
  .users {
    opacity: 0.8;
  }
  li:first-child {
    border-top: 0;
  }
}